/* pagination style */
.pagin {
    padding: 0px 0;
    margin: 0;
    font-family: "Verdana", sans-serif;
    font-size: 7pt;
    font-weight: bold;
}


.pagin li {
    float: left; 
    margin-right: 3px;
    border: solid 1px #C50000;
    text-align: center;
    line-height: 18px;
}

.pagin a {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    color: #666666;
    text-decoration: none;
    float: left;
    overflow: hidden;
    position: relative;
}

.pagin a:visited {
    background-color: #FFFFFF;
    color: #60606F;
    text-decoration: none;
}
.pagin a:hover, .pagin a:active {
    background-color:#DF0A81;
    color: #fff;
    text-decoration: none;
}
.pagin span {
    cursor: default;
    background-color: #F0F0F0;
    color: #B0B0B0;
}
.pagin strong {
    background-color: #DF0A81;
    color: white;
    padding: 7px;
}